* text=auto !eol
.coin-or/projDesc.xml -text
/AUTHORS -text
/ChangeLog -text
/INSTALL -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/config.guess -text
/config.h.in -text
/config.sub -text
/configure -text
/configure.in -text
/depcomp -text
/install-sh -text
/ltmain.sh -text
m4/ac_pkg_swig.m4 -text
m4/ac_python_devel.m4 -text
m4/ax_boost_base.m4 -text
m4/libtool.m4 -text
m4/ltoptions.m4 -text
m4/ltsugar.m4 -text
m4/ltversion.m4 -text
m4/lt~obsolete.m4 -text
m4/swig_enable_cxx.m4 -text
m4/swig_python.m4 -text
/missing -text
/py-compile -text
src/Doxyfile -text
src/Makefile.am -text
src/Makefile.in -text
src/TSPTW/TSPRoute.h -text
src/TSPTW/TSPTWWorld.cc -text
src/TSPTW/TSPTWWorld.h -text
src/Twister/Twister.cc -text
src/Twister/Twister.h -text
src/annealer/Annealer.h -text
src/annealer/Penalties.h -text
src/doxygen/doxygen.h -text
src/examples/Dumas-1.set -text
src/examples/cli-salesman.py -text
src/examples/gtk-salesman.py -text
src/examples/main.cc -text
src/swig/CA_TSP.i -text
src/swig/SA_TSP.i -text
src/swig/TSP.i -text
src/swig/swig.i -text
